body{
color: #4C4C4C;
background-color: #D7D2FF;
font-family: sans-serif;
}
h1{
color:#64349B;
text-align:center;
font-family: sans-serif;}

button{
background-color:#4C4C4C;
color:white;
border: none;
}